
{% extends 'layout.html' %}
{% block content %}  
<div>
    <form action="" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="{{ blog.title }}">
        </div>
        <div class="form-group">
            <label for="Subtitle">Subtitle</label>
            <input type="text" id="Subtitle" name="subtitle" value="{{ blog.subtitle }}">
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <textarea name="content" id="content" cols="30" rows="10">{{ blog.content }}</textarea>
        </div>
        <div>
            <button class="btn" type="submit">Edit</button>
        </div>

    </form>
</div>

{% endblock content %}
